body {
    background-color: black;
    color: white;
    font-family: Arial;
}
.simple_border {
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.content {
    margin-bottom: 10px;
    width: 400px;
}
span.title {
    background-color: grey;
}
