.editpane {
    float: left;
    width: 50%;
}
#content_form input[type='text']{
    width: 90%;
}
#content_form textarea {
    width: 90%;
    height: 300px;
}
#content_form p {
    margin-top: 0;
}
#content_form label {
    display: block;
}
.content_ext {
    overflow: scroll;
    height: 300px;
}
#preview .content_body {
    display: block;
    position: relative;
}
#preview .auto_scroll {
    font-size: 10pt;
    float: right;
}
