body {
    background-color: black;
    font-family: Arial;
    color: rgb(200,200,200);
    font-size: 11pt;
}
a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;   
}
a:hover {
    text-decoration: underline;
}
.container {
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}
@media only screen and (min-width: 480px) {
    .container {
        width: 440px;
    }
}
@media only screen and (min-width: 740px) {
    .container {
        width: 720px;
    }
}
@media only screen and (min-width: 940px) {
    .container {
        width: 900px;
    }
}
.whiteborder {
    border-color: white;
    border-style: solid;
    border-width: 1px;

}
#logo a {
    color: rgb(200,200,200);
}
#logo a strong {
    color: white;
}
#logo {
    display: block;
    font-size: 20pt;
    margin-bottom: 10px;
}
#navigation {
    background-color: rgb(50,50,50);
    font-size: 15pt;
    border-radius: 3px;
}
#navigation ul.nav {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#navigation ul.nav li {
    width: auto;
    float: left;
}
#navigation ul.nav li:hover {
    background-color: black;
}
#navigation ul.nav li a {
    display: block;
    padding: 5px;
}
#navigation ul.nav li.active {
    background-color: white;
    color:black;
}
#navigation ul.nav li.active a {
    color: black;
}
#navigation ul.nav li.active:hover {
    background-color: black;
}
#navigation ul.nav li.active:hover a {
    color: white;
}
#side_bar {
    float: right;
    width: 35%;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: black;
    border-left: solid black 40px;
    border-bottom: solid black 40px;
}
#side_int {
    min-height: 200px;
}
#side_bar ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
}
.side_heading {
    display: block;
    width: 100%;
    background-color: rgb(50,50,50);
}
#side_bar #tags {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
    overflow: hidden;
}
#tags li {
    display: inline;
}
#tags li:after {
    content: ' |';
}
#tags li:last-child:after {
    content: '';
}
.content {
    margin-bottom: 10px;
}
.content .content_body h1 {
    font-size: 12pt;
}
.content .title {
    display: block;
    background-color: rgb(40,40,40);
    font-size: 12pt;
}
.content .closer {
    font-style: italic;
    font-size: 10pt;
}
.edit_link {
    display: block;
    border: solid white 1px;
    padding: 2px;
    text-align: center;
    width: 50px;
    margin-bottom: 10px;
}
.edit_link a {
    display: block;
}
.more {
    display: block;
    margin-bottom: 10px;
}
#intro {
    border-bottom: solid white 1px;
    margin-bottom: 10px;
}
