<!DOCTYPE html>
<html>
<head>
<title>TRPC</title>
<link rel='stylesheet' href='{{ STATIC_URL }}css/trpc.css' type='text/css' />
<link rel='stylesheet' href='{{ STATIC_URL }}css/edit.css' type='text/css' />

</head>
<body>
<script src='{{ STATIC_URL }}js/jquery.min.js' type='text/javascript'> </script>
<script src='{{ STATIC_URL }}js/Markdown.Converter.js' type='text/javascript'> </script>
<script src='{{ STATIC_URL }}js/edit.js' type='text/javascript'> </script>
<div id='header' class='container'>
<span id='logo'>
<a href='{% url home "" %}'>
<strong>T</strong>HE<strong>R</strong>EAL<strong>P</strong>AT<strong>C</strong>ONWAY</span>
</a>
<div id='navigation'>
    <ul class='nav'>
    <li><a href='{% url home "blog" %}'>BLOG </a></li>
    <li><a href='{% url home "portfolio" %}'>PORTFOLIO</a></li>
    </ul>
</div>
</div>
<div id='body' class='container'>
    <div id='form' class='editpane'>
    <form id='content_form' action='{% url update content.id %}' method='POST'>
    {% csrf_token %}
    <p> {{form.title.label_tag}} {{ form.title }} </p>
    <p> {{form.body.label_tag}} {{ form.body }} </p>
    <p> {{form.main_cat.label_tag}} {{form.main_cat}} </p>
    <p> {{form.draft.label_tag}} {{ form.draft }} </p>
    <p> {{form.tags.label_tag}} {{ form.tags }} </p>
    <input name='button' type='submit' value='Publish' />
    <input name='button' type='submit' value='Save Draft' />
    </form>

    </div>
    <div id='preview' class='editpane'>
    <span>Preview </span>
        <div class='content'>
        <span class='title'> 
        {{ content.title }} 
        </span>
        <span class='content_body'>
            {{ content.get_html|safe }}
        </span>
        </div>
    </div>
    
</div>

</body>
</html>


