<!DOCTYPE html>
<html>
<head>
<title>{% block title %}TRPC{% endblock %}</title>
<link rel='stylesheet' href='{{ STATIC_URL }}css/trpc.css' type='text/css' />
</head>
<body>
<div id='header' class='container'>
<span id='logo'>
<a href='{% url home 'home' %}'>
<strong>T</strong>HE<strong>R</strong>EAL<strong>P</strong>AT<strong>C</strong>ONWAY</span>
</a>
<div id='navigation'>
    <ul class='nav'>
    <li {% if category == 'blog' %} class='active' {% endif %}><a href='{% url home "blog" %}'>BLOG </a></li>
    <li {% if category == 'portfolio' %} class='active' {% endif %}><a href='{% url home "portfolio" %}'>PORTFOLIO</a></li>
    <li {% if category == 'about' %} class='active' {% endif %}><a href='{% url home "about" %}'>ABOUT</a></li>
    </ul>
</div>
</div>
<div id='body' class='container'>
{% if highlights or tags %}
    <div id='side_bar'>
        <div id='side_int' class='whiteborder'>
        {% if highlights %}
        <span class='side_heading'>Saved for Posterity</span>
        <ul id='posterity'>
        {% for highlight in highlights %}
            <li><a href='{% url detail highlight.main_cat highlight.id %}'>{{ highlight.title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if tags %}
        <span class='side_heading'>Frequent Tags</span>
        <ul id='tags'>
            {% for tag in tags %}
            <li><a href='search?tags={{ tag.tag }}'>{{ tag.tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
    </div>
{% endif %}
<div id='main_body'>
{% block main_body %}
<div id='intro'>
    {% if intro %}
        <div class='content'>
        <span class='title'> 
        {{ intro.title }} 
        </span>
        <span class='content_body'>
            {{ intro.get_html|safe }}
        </span>
        {% if show_edit %}
            <span class='edit_link'><a href='{% url edit category intro.id %}'>Edit </a></span>
        {% endif %}
        </div>
    {% elif show_edit %}
        <span class='edit_link'><a href='{% url create category '/intro' %}'>Create</a></span>
    {% endif %}
</div>
<div id='entries'>
    {% if show_edit %}
        <span class='edit_link'><a href='{% url create category %}'>Create</a></span>
    {% endif %}
    {% if entries %}
        {% for entry in entries %}
            <div class='content'>
            <span class='title'>
            <a href='{% url detail entry.main_cat entry.id %}'>
            {{ entry.title }} 
            </a></span>
            <span class='content_body'>
                {{ entry.get_short_html|safe }}
            </span>
            <span class='more'><a href='{% url detail entry.main_cat entry.id %}'>More</a></span>
            {% if show_edit %}
                <span class='edit_link'><a href='{% url edit entry.main_cat entry.id %}'>Edit</a></span>
            {% endif %}

            <span class='closer'>
                Published {{ entry.pub_date }} by {{ entry.author.first_name }} {{ entry.author.last_name}} to <strong> <a href='{% url home entry.main_cat %}'> {{ entry.main_cat }} </a> </strong>
            </span>
            </div>
        {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}

</div>

</body>
</html>

